.characteriaLinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  
    .link {
     
      position: relative;
      @include center-flex;
      border-radius: 10px;
      transition: $hover-boton-transition;
  
      &:hover {
        transform: $hover-boton;
      }
  
      a {
        text-decoration: none;
        color: #000;
        font-size: 18px;
        text-align: center;
        @include column-flex;
        @include anchoAlto;
      }
  
      img {
        @include anchoAlto;
        object-fit: cover;
        border-radius: 10px;
      }
  
      h4 {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        padding: 5px;
        border-radius: 5px;
        font: $fuente-titulos;
        background-color: $fondo-trasparente;
      }
    }
  }
  
  @media (min-width: 768px) {
    .characteriaLinks {
      margin-right: 130px;
      margin-left: 130px;
      gap: 100px;
    }
  
    .link {
      width: 200px;
      height: 200px;
  
      a {
        font-size: 24px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .characteriaLinks {
      @include row-wrap;
      gap: 20px;
    }
  
    .link {
      width: 45%;
      max-width: 150px;
      height: 150px;
    
  
      img {
        @include anchoAlto;
        object-fit: cover;
      }
    }
  }
  