.grupo {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    border-radius: 10px;
    @include imagenes;
    background-image: url("../img/fondoLogo.jpg");
  
    .imagenGrupo {
      width: 100%;
      max-width: 200px;
      height: auto;
    }
  
    h4 {
      font-size: 24px;
      margin: 10px 0;
      font: $fuente-parrafos;
    }
  
    p {
      margin: 0 auto;
      text-align: center;
      font-size: 16px;
      font: $fuente-titulos;
      @include fondo-transparente;
    }
  }
  
  @media (min-width: 768px) {
    .containerGrupos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    
  
      .grupo {
        flex: 1 1 35%;
        max-width: 35%;
  
        h4 {
          font-size: 35px;
        }
  
        p {
          font-size: 22px;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    .containerGrupos {
      display: block;
      padding: 10px;
  
      .grupo {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
  
        .imagenGrupo {
          max-width: 200px;
        }
  
        h4 {
          font-size: 28px;
        }
  
        p {
          font-size: 14px;
          width: 90%;
        }
      }
    }
  }
  