.personaje {
  text-align: center;
  @include marginTopBottom;
  @include margin-leftright-auto;
  @include imagenes;
  background-image: url("../img/oshi-no-ko-bd.jpg");
  padding: 15px;
  border-radius: 10px;

  .imagenPersonaje {
    width: 100%;
    max-width: 150px;
    height: auto;
    
  }

  h4 {
    margin: 10px 0;
    font: $fuente-titulos;
  }

  p {
    height: auto;
    margin: 0 auto;
    text-align: center;
    font: $fuente-parrafos;
    @include fondo-transparente;
  }
  
}

@media (min-width: 768px) {
  .containerPersonajes {
    @include flex-wrap;

    .personaje {
      flex: 1 1 35%;
      max-width: 35%;

      h4 {
        font-size: 35px;
      }

      p {
        font-size: 22px;
      }
    }
  }
}

@media (max-width: 767px) {
  .containerPersonajes {
    display: block;
    padding: 10px;

    .personaje {
      width: 90%;
      @include margin-leftright-auto;

      .imagenPersonaje {
        max-width: 120px;
      }

      h4 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
        width: 90%;
      }
    }
  }
}
